$base-font-family: 'Lucida Sans',
'Lucida Sans Regular',
'Lucida Grande',
'Lucida Sans Unicode',
Geneva,
Verdana,
sans-serif;
$base-font-size: 14px;
$card-bg-color: #F2F2F2;
$title-color: #aa1f1f;

/*** BREAKPOINTS ***/

$mobile: 414px;
$tablet: 768px;
$desktop: 1024px;
$desktop-lg: 1440px;